.get-more {
  margin-left: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  button {
    text-transform: capitalize;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
      rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
    padding: 0.8rem 1rem;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }

  button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  button:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
  }

  button.active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }

  .cards {
    display: flex;
    column-gap: 1rem;
    justify-content: center;

    .card {
      flex-basis: 200px;

      img {
        aspect-ratio: 4 /5;
        width: 100%;
        height: auto;
      }

      .title {
        font-size: 1rem;
      }

      .title:hover {
        text-decoration: underline;
      }
    }
  }
}
