.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(40px);

  .modal {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 550px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 50px 5px #6f6f6f;
    box-shadow: 0px 0px 50px 5px #6f6f6f;
    animation: fadein 0.2s;

    .modal-content-flex {
      img {
        height: 290px;
        width: auto;
      }
    }

    svg {
      background-color: red;
      border-radius: 50%;
      padding: 3px;
      transition: 0.1s;
    }

    svg:hover {
      scale: 1.2;
    }

    .close-button {
      display: block;
      text-align: right;
    }

    .modal-content-flex {
      display: flex;
      padding: 10px;
      column-gap: 20px;

      .content {
        .title {
          font-size: 1.2rem;
          margin-bottom: 20px;
        }

        .title:hover {
          text-decoration: none;
          cursor: auto;
        }

        .price {
          font-size: 1.2rem;
        }
      }

      .sizes {
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        column-gap: 1.5rem;

        .size-button {
          padding: 0.9rem;
          color: black;
          outline: none;
          font-weight: 600;
          width: 45px;
          text-transform: uppercase;
          background-color: #fafbfc;
          border: 1px solid rgba(27, 31, 35, 0.15);
          border-radius: 4px;
          transition: 0.2s;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
            rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        }

        .size-button.active {
          background-color: #ebebec;
          border-color: #6f6f6f;
          box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
        }

        .size-button:hover {
          background-color: #f3f4f6;
          text-decoration: none;
        }

        .add-cart-button {
          color: black;
          outline: none;
          font-weight: bold;
          width: 45px;
          text-transform: capitalize;
          background-color: #fafbfc;
          border: 1px solid rgba(27, 31, 35, 0.15);
          border-radius: 4px;
          transition: 0.2s;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
            rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        }

        .add-cart-button:hover {
          background-color: #f3f4f6;
          text-decoration: none;
        }

        .add-cart-button:disabled {
          background-color: #fafbfc;
          border-color: rgba(27, 31, 35, 0.15);
          color: #959da5;
          cursor: default;
        }
      }
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
