.footer {
  text-align: center;
  width: 80%;
  margin-left: auto;

  .flex {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;

    .label {
      margin: 1rem 0;
      font-size: 1.5rem;
    }

    div {
      flex-basis: 33%;
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;

        input {
          border: 1px solid lightgray;
          outline: 0;
          font-size: 1rem;
          padding: 0.6rem;
          margin: 0.6rem 0;
        }

        input:focus {
          outline: 0;
          border: 1px solid gray;
        }
      }
    }

    .about {
      display: flex;
      flex-direction: column;
    }

    .other {
      display: flex;
      flex-direction: column;
      text-align-last: left;

      p {
        margin: 0.7rem 0;
        display: flex;
        column-gap: 0.3rem;
      }
    }
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.75rem;
    padding-top: 2rem;
    background-color: black;
    color: white;
    text-align: left;

    .label {
      font-size: 1.75rem;
      font-weight: 500;
    }

    input {
      padding: 0.4rem;
      font-size: 1.2rem;
    }

    input:focus {
      outline: 0;
    }

    button {
      background-color: red;
      color: white;
      padding: 0.4rem;
      font-size: 1rem;
      width: fit-content;
      transition: 0.15s;
    }

    button:hover {
      background-color: rgb(216, 55, 55);
      cursor: pointer;
    }
  }

  .copyright {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 2rem;
  }
}
